/***********************/
/**** Below 1344px *****/
/***********************/

@media (max-width: 84em) {
  html {
    font-size: 60%;
  }
}

/***********************/
/**** Below 1200px *****/
/***********************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero-header {
    font-size: 5.6rem;
    margin-bottom: 3.6rem;
  }

  .hero-into {
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
  }

  .blue-button {
    align-self: center;
    justify-self: center;
    /* display: block; */
    margin: 0 auto;
    padding: 1.5rem 8rem;
    font-size: 1.6rem;
    text-align: center;
  }

  #about,
  #project {
    scroll-margin-top: 10rem;
  }

  .abtme-header {
    font-size: 3.6rem;
  }

  .abtme-info {
    font-size: 1.8rem;
  }

  .gtkm-header {
    font-size: 2.4rem;
  }

  .gtkm-info {
    font-size: 1.6rem;
  }
  .abtme-box {
    margin-bottom: 5.6rem;
  }

  .skill-text-box {
    font-size: 1.8rem;
  }

  .project-each-box {
    gap: 3rem;
    margin-bottom: 6.4rem;
  }
}

/***********************/
/****  Below 944px *****/
/***********************/

@media (max-width: 59em) {
  html {
    font-size: 45%;
  }
}

/***********************/
/****  Below 704px *****/
/***********************/

@media (max-width: 44em) {
  html {
    font-size: 40%;
  }
  .abtme-2nd-section {
    grid-template-columns: 1fr;
  }
  .gtkm-header {
    font-size: 3.6rem;
  }

  .gtkm-info {
    font-size: 2rem;
  }

  .abtme-container {
    padding: 0 4rem;
  }

  .abtme-box {
    margin-bottom: 5.6rem;
  }

  .skill-text-box {
    font-size: 2.2rem;
  }
  .abtme-2nd-section {
    gap: 6.4rem;
  }

  .project-each-box {
    gap: 3rem;
    margin-bottom: 6.4rem;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .do-up {
    grid-row: 1/-1;
  }
  .pro-2nd {
    gap: 2.4rem;
  }

  .project-container {
    padding: 0 4rem;
  }

  .pro-head {
    align-self: center;
  }

  .pro-info {
    align-self: center;
  }
  .pro-icon {
    width: 4rem;
    height: 4rem;
  }

  .pro-2nd {
    align-items: center;
  }
}

/***********************/
/****  Below 544px *****/
/***********************/

@media (max-width: 34em) {
  .main-nav-list-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    /* -webkit-backdrop-filter: blur(100px); */
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open.main-nav-list-box {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .menu-toggle-btn {
    display: block;
  }

  .menu-toggle-btn {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-mobile {
    font-size: 4rem;
  }

  .hero-header {
    font-size: 4.8rem;
    margin-bottom: 3.6rem;
  }
}

/***********************/
/****  Below 440px *****/
/***********************/

@media (max-width: 29em) {
  .hero-header {
    font-size: 4rem;
    margin-bottom: 3.6rem;
  }

  .contact-con {
    flex-direction: column;
  }
  .contact-header {
    margin-top: 3.5rem;
  }
}
